header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  text-decoration: none;
}

img {
  background-color: rgb(200, 241, 137);
}

.purchase_box {
  background-color: rgb(207, 164, 238);
}

.addtobasket_button {
  background-color: lemonchiffon;
  box-sizing: border-box;
}
