html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 2, 36);
  color: aliceblue;
}

article {
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(247, 247, 247);
  color: black;
}

article,
content {
  padding: 1rem;
}

body {
  max-height: auto;
}

header {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

ol {
  list-style: none;
}

img {
  background-color: rgb(200, 241, 137);
  max-width: 100%;
  max-height: 100%;
}

.purchase_box {
  background-color: rgb(207, 164, 238);
}

.addtobasket_button {
  background-color: lemonchiffon;
  box-sizing: border-box;
  max-width: 13%;
  padding: 1%;
}

#productpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}

#category_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#productlist_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 8vw;
  grid-column-gap: 2.5vw;
}

/*.soldout_label {
  background-color: red;
  max-width: 100%;
  max-height: auto;
}

.onsale_label {
  background-color: yellow;
  max-width: 100%;
  max-height: auto;
}*/

.article.onsale_label .discounted {
  display: flex;
  justify-content: space-between;
}

.article.soldout_label img {
  opacity: 0.5;
}

article.soldout_label::before {
  content: "Sold Out";
  position: absolute;
  background: grey;
  color: var(--background-color);
  padding: 1rem;
}

article.onsale_label::before {
  content: "On sale";
  position: absolute;
  background: yellow;
  color: var(--background-color);
  padding: 1rem;
}

.productlist .price .span {
  display: none;
}

article.onsale_label .discounted {
  display: flex;
  justify-content: space-between;
}

article.onSale .price span {
  display: initial;
}

article.soldout_label img {
  opacity: 0.5;
}
