:root {
  --background-color: white;
  --smallProduct-color: rgb(214, 224, 236);
  --font-color: rgb(34, 30, 30);
  --font-accent-color: rgb(80, 80, 80);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: var(--font-color);
}

article {
  max-width: 100%;
  max-height: 100%;
  background-color: var(--smallProduct-color);
  color: var(--font-color);
}

article,
content {
  padding: 1rem;
}

body {
  max-height: auto;
}

header {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

ol {
  list-style: none;
}

img {
  background-color: rgb(200, 241, 137);
  max-width: 100%;
  max-height: 100%;
}

.purchase_box {
  background-color: --smallProduct-color;
}

.addtobasket_button {
  background-color: var(--background-color);
  box-sizing: border-box;
  max-width: 100%;
  padding: 1rem;
  outline-width: 0.1rem;
  outline-color: black;
  outline-style: solid;
  display: flex;
  justify-content: center;
}

.addtobasket_button:hover {
  background-color: rgb(139, 196, 241);
}

#productpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  padding: 4rem;
}

#category_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#productlist_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 8vw;
  grid-column-gap: 2.5vw;
}

/*.soldout_label {
  background-color: red;
  max-width: 100%;
  max-height: auto;
}

.onsale_label {
  background-color: yellow;
  max-width: 100%;
  max-height: auto;
}*/

.article.onsale_label .discounted {
  display: flex;
  justify-content: space-between;
}

.article.soldout_label img {
  opacity: 0.5;
}

article.soldout_label::before {
  content: "Sold Out";
  position: absolute;
  background: grey;
  color: var(--background-color);
  padding: 1rem;
}

article.onsale_label::before {
  content: "On sale";
  position: absolute;
  background: yellow;
  color: var(--background-color);
  padding: 1rem;
  color: var(--font-accent-color);
}

.productlist .price .span {
  display: none;
}

article.onsale_label .discounted {
  display: flex;
  justify-content: space-between;
}

article.onSale .price span {
  display: initial;
}

article.soldout_label img {
  opacity: 0.5;
}

#sizeSelector {
  display: flex;
  justify-content: space-around;
  color: var(--background-color);
  padding: 2rem;
  color: var(--font-accent-color);
}

#productInfoBox {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

#purchaseBox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.greyBox {
  background-color: var(--background-color);
  padding: 1rem;
  max-width: 1rem;
  outline-width: 0.1rem;
  outline-color: black;
  outline-style: solid;
  box-shadow: 1rem 0.2rem 1rem black;
}

.greyBox:hover {
  background-color: pink;
}
