html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-height: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  text-decoration: none;
}

img {
  background-color: rgb(200, 241, 137);
  max-width: auto;
  max-height: auto;
}

.purchase_box {
  background-color: rgb(207, 164, 238);
}

.addtobasket_button {
  background-color: lemonchiffon;
  box-sizing: border-box;
  max-width: 13%;
  padding: 1%;
}

#productpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}

#categorypage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#productlist_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
